*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: auto;

}
.header{
    display: flex;

    display: flex;
    padding: 24px 80px;   
    align-items: flex-start;

}
.container{
    display: flex;
    width: 88%;
    padding: 0px 32px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 12px;

    
}
.logo p{
    font-weight: 700;
    font-size: 18px;
}
.logo a{
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
}

.taskbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease 0s ;
    background-color: transparent;
    border: 2px solid transparent;
}
.taskbar a{
    text-decoration: none;
    color: #000;
    
}

.button1{
    display: flex;
    height: 20px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: black;
    color: white;
    width: 153px;
    transition: transform 0.3s ease 0s ;

}
.button1 a{
    color: hsl(0, 0%, 100%);
    gap: 8px;
    text-decoration: none;
    display: flex;
}
.taskbar :hover{
    background-color: 2px solid black;
}
.taskbar p:hover{
    background-color: black;
    color: #ffffff;
    font-size: 125%;
    transition: .1s ease-in 0s;



}
.button1 i:hover{
    transform: translateY(-10px);
    background-color: var(--clr-accent);
    color: var(--var-light);
}
.nav-bars{
    display: none;
}
.herosec{
    display: flex;
padding: 60px 80px;
align-items: flex-start;
}
.hero-cont{
    display: flex;
width: 88%;
padding: 0px 32px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}
.banner1{
    display: flex;
width: 600px;
padding: 20px 0px;
flex-direction: column;
align-items: flex-start;
gap: 48px;
flex-shrink: 0;
}
.frame47{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}
.frame46{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.frame43{display: flex;
    align-items: flex-start;
    gap: 16px;

}
.text1{color: var(--Primary-Black, #000);

    /* Displaytext/Regular */
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.96px;
    
}

.text2{color: var(--Primary-Black, #000);

    /* Displaytext/Extra Bold */
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.96px;

}
.frame44{display: flex;
    align-items: flex-start;
    gap: 16px;}
#element{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#text3{
    color: var(--Primary-Black, #000);

/* Displaytext/Extra Bold */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
#text4{
    /* Outlined/Extra Bold */
    -webkit-text-stroke-width: 3;
    -webkit-text-stroke-color: var(--Primary-Black, #000);
    font-family: Sora;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.96px;

}
.frame45{
    display: flex;
align-items: flex-start;
gap: 16px;
}
#text5{
    color: var(--Primary-Black, #000);

/* Displaytext/Regular */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
#text6{
    color: var(--Primary-Black, #000);

/* Displaytext/Extra Bold */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
#text7{
    color: var(--Zinc-500, #71717A);

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
align-self: stretch;
}
.banner2{

    height: 596px;
    width: 889px;
}
.frame20{
    height:596px;
    width: 795px;
    background-image: url(imagepic.jpg);
    background-size: cover;
}
.social-icon{
    margin: 0 !important;
    position: absolute;
    bottom: 32px;
    left: 112px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0px;
    gap: 32px;
    z-index: 0;
}
#button{

    width: 56px;
    border-radius: 4px;
    background-color: #000;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;


}
#icon{
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
    font-size: 50px;
}
#icon a{
    color: black;
}
.skills{
    display: flex;
    padding: 60px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-cont{
    display: flex;
    width: 88%;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.row{
    display: flex;
padding: 20px 0px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
#row-text1{
    color: var(--Primary-Black, #000);

/* Displaytext/Regular */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
#row-text2{
    color: var(--Primary-Black, #000);

/* Displaytext/Extra Bold */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
.skill-row{
    display: flex;
padding: 20px 0px;
flex-direction: column;
align-items: center;
align-self: stretch;
}
.column1{
    display: flex;
padding: 20px 0px;
justify-content: space-around;
align-items: center;
align-self: stretch;
}
.skill69{
    display: flex;
width: 186px;
height: 186px;
padding: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 4px;
border: 2px solid var(--Primary-Black, #000);

text-align: center;

/* Heading H5/Bold */
font-family: Sora;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
letter-spacing: -0.4px;
text-transform: capitalize;
}
.skill1{
    background: var(--Primary-White, hsl(0, 0%, 0%));
color: var(--Primary-Black, rgb(255, 255, 255));
}
.skill1 i{
    width: 56px;
height: 56px;
flex-shrink: 0; 
font-size: 50px;
}
.skill2 i{
    width: 56px;
    height: 56px;
    font-size: 50px;
}
.skill3 i{
    font-size: 50px;
}
.skill4 i{
    font-size: 50px;
}
.skill5{
    background: var(--Primary-White, hsl(0, 0%, 0%));
color: var(--Primary-Black, rgb(255, 255, 255));
    
}
.skill5 i{
    font-size: 50px;

}
#about-me{
    display: flex;
padding: 60px 80px;
justify-content: center;
align-items: center;
}

.about-me-cont{
    display: flex;
width: 100%;
padding: 0px 2% ;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}
.grp1{
    width: 525.447px;
height: 572px;
flex-shrink: 0;
background-image: url(image2.png);
background-size: cover;

}
.frame{
    display: flex;
height: 572px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.frame1{
    display: flex;
padding: 20px 0px;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}
.frame-text1{
    color: var(--Primary-Black, #000);

/* Displaytext/Regular */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
.frame-text2{
    color: var(--Primary-Black, #000);

/* Displaytext/Extra Bold */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
.frame2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
}
.frame2-text1{
    color: var(--Zinc-500, #71717A);
    width: 610px;

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.frame2-text2{  
    color: var(--Zinc-500, #71717A);
    width: 610px;

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.frame2-text3{
    width: 610px;
    color: var(--Zinc-500, #71717A);

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
#projects{
    display: flex;
padding: 60px 80px;
flex-direction: column;
align-items: flex-start;
background-color: #000;
}
.project-cont{display: flex;
    width:88%;
    padding: 0px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.project-head{
    display: flex;
padding: 20px 0px;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
.proj-text1{
    color: white;
    

/* Displaytext/Regular */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
.proj-text2{
    color: white;
    

/* Displaytext/Extra Bold */
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
.project1{
    display: flex;
padding: 20px 0px;
align-items: center;
gap: 40px;
align-self: stretch;
}
.proj1-img{
    background-image: url(amazon-pic.jpg);
    background-size: cover;
    display: flex;
    width: 594px;
    height: 476px;
    align-items: center;
    border-radius: 18.761px;
}
.proj1-details{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}
.proj1-text{
    
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
align-self: stretch;
}
.proj1-text1{
    align-self: stretch;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    line-height: 56px;
}
.proj1-text2{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.proj1-text3{
    color: var(--Zinc-500, #71717A);

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}
.project2{
    display: flex;
padding: 20px 0px;
align-items: center;
gap: 40px;
align-self: stretch;
}
.proj2-details{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
}
.proj2-text{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 28px;
align-self: stretch;
}
.proj2-text1{
    align-self: stretch;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    line-height: 56px;
}
.proj2-text2{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.proj2-text3{
    color: var(--Zinc-500, #71717A);

/* Paragraph P2/Regular */
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

}

.proj2-img{
    background-image: url(overheight.png);
    background-size: cover;
    display: flex;
width: 594px;
height: 476px;
justify-content: flex-end;
align-items: center;
border-radius: 18.761px;

}
.project3{
    display: flex;
padding: 20px 0px;
align-items: center;
gap: 40px;
align-self: stretch;
}
.proj3-img{
    background-image: url(calculator.png);
    background-size: cover;
    width: 594px;
    height: 476px;
    align-items: center;
border-radius: 18.761px;
box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12), 0px 12px 42px -4px rgba(24, 39, 75, 0.12);
}
.proj3-details{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;

}

#contact-form{
    display: flex;
padding: 60px 80px;
align-items: flex-start;
}
.contact-cont{
width: 88%;
padding: 0px 32px;
}
.contact-col1{
    display: flex;
padding: 20px 0px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}
.contact-col2{
padding: 20px 0px;
align-items: flex-start;
gap: 24px;
}
.contact-col2-text-box
{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 40px;
align-self: stretch;
}
.contact-frame{
    display: flex;
align-items: flex-start;
gap: 20px;
flex-direction: column;
color: black;
font-family: Sora;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}
#contact-text3{
    color: #71717A;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.contact-frame2{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
color: black;



/* Heading H3/Semibold */
font-family: Sora;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 114.286% */
letter-spacing: -0.56px;
}
.input-area{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.hell {display: flex;
    width: 500px;
    height: 56px;
    padding: 16px 24px;
    align-items: center;
    border-radius: 4px;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
border: 1.4px solid black;

}
.help{
    height: 140px;
    display:flex ;
    align-items: normal;
    flex-direction: column;
}
.Button-end{
    display: flex;
align-items: flex-start;
gap: 24px;
width: 493px;
height: 56px;
}
.submit-button{
    display: flex;
height: 56px;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 8px;
background-color: #000;
border-radius: 4px;
color: #ffffff;
font-size: 20px;
font-weight: 600;
}
.social-icon-contact{

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4px 0px;
    gap: 32px;
    z-index: 0;
    width: 320px;
}
#button{

    width: 56px;
    border-radius: 4px;
    background-color: #000;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;


}
#icon{
    width: 20px;
    position: relative;
    height: 20px;
    object-fit: cover;
    font-size: 50px;
}
.foot{
    display: flex;
padding: 24px 80px;
align-items: flex-start;
background-color: #000;
}   
.foot-cont{
    display: flex;
width: 88%;
padding: 0px 32px;
justify-content: center;
align-items: center;
flex-shrink: 0;
gap:8px
}
.foot-cont p{
    color: white;
    font-size: 16px;
}
.foot-cont i{
    color: white;
}
.foot-cont p1{
    font-weight: 600;

}
.back-to-top{

    position: fixed;
    opacity: 2;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top i{
    color:black;


}
.back-to-top a{
    color:black;

}
/*
@media screen and (max-width: 768px){
    .logo-1-icon {
        width: 39.9px;
        position: relative;
        height: 40px;
        overflow: hidden;
        flex-shrink: 0;
  }
  .personal {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
  }
  .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
  }
  .material-symbolsmenu-icon {
        width: 36px;
        position: relative;
        height: 36px;
        overflow: hidden;
        flex-shrink: 0;
  }
  .container {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  }
  .my-testimonial {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 16px;
        font-size: 20px;
  }
  .column-child {
        width: 495.2px;
        position: absolute;
        margin: 0 !important;
        top: 0px;
        left: -145.11px;
        height: 332px;
        overflow: hidden;
        flex-shrink: 0;
        z-index: 0;
  }
  .column {
        align-self: stretch;
        height: 332px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        box-sizing: border-box;
        position: relative;
  }
  .hello-iam {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 32px;
  }
  .evren-shah {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 32px;
        font-weight: 800;
  }
  .hello-iam-parent {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
  }
  .developer {
        position: relative;
        letter-spacing: -0.02em;
        line-height: 32px;
        font-weight: 800;
        color: transparent;
        -webkit-text-stroke: 1.4px #000;
  }
  .frame-parent {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
  }
  .im-evren-shah {
        align-self: stretch;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 24px;
        color: #71717a;
  }
  .social-icon {
        width: 20px;
        position: relative;
        height: 20px;
  }
  .button {
        width: 48px;
        border-radius: 4px;
        background-color: #000;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
        box-sizing: border-box;
  }
  .social-icon1 {
        width: 20px;
        position: relative;
        height: 20px;
        object-fit: cover;
  }
  .button1 {
        width: 50px;
        border-radius: 4px;
        border: 2px solid #000;
        box-sizing: border-box;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px;
  }
  .button-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4px 0px;
        gap: 24px;
  }
  .column1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 32px;
  }
  .container1 {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 48px;
  }
  .hero-section {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px 16px;
  }
  .icon-express {
        width: 56px;
        position: relative;
        height: 56px;
        overflow: hidden;
        flex-shrink: 0;
  }
  .javascript {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
  }
  .skills1 {
        flex: 1;
        border-radius: 4px;
        background-color: #fff;
        border: 2px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        gap: 32px;
  }
  .skills-parent {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
  }
  .icon-javscript {
        width: 56px;
        position: relative;
        height: 56px;
  }
  .skills4 {
        flex: 1;
        border-radius: 4px;
        background-color: #000;
        border: 2px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        gap: 32px;
        color: #fff;
  }
  .column3 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: center;
        font-size: 20px;
  }
  .container2 {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
  }
  .google-icon {
        width: 32px;
        position: relative;
        height: 32px;
        overflow: hidden;
        flex-shrink: 0;
  }
  .lead-software-engineer {
        flex: 1;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 600;
  }
  .google-parent {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
  }
  .nov-2019- {
        position: relative;
        font-size: 16px;
        letter-spacing: -0.02em;
        line-height: 20px;
        font-weight: 600;
        color: #d4d4d8;
        text-align: center;
  }
  .frame-group {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
  }
  .as-a-senior {
        align-self: stretch;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 24px;
        color: #d4d4d8;
  }
  .experience1 {
        align-self: stretch;
        border-radius: 10px;
        border: 1px solid #71717a;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 24px;
        gap: 28px;
  }
  .youtube-icon {
        width: 32px;
        position: relative;
        height: 32px;
  }
  .as-a-senior1 {
        align-self: stretch;
        position: relative;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 24px;
        color: #d4d4d8;
        white-space: pre-wrap;
  }
  .experience2 {
        align-self: stretch;
        border-radius: 10px;
        background-color: #27272a;
        border: 1px solid #71717a;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 30px 24px;
        gap: 28px;
  }
  .column5 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
  }
  .column-item {
        width: 336.2px;
        position: relative;
        height: 366px;
        opacity: 0.98;
  }
  .column6 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px 0px;
  }
  .column7 {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0px;
        gap: 16px;
  }
  .im-a-passionate {
        align-self: stretch;
        position: relative;
        letter-spacing: 0.02em;
        line-height: 24px;
  }
  .column8 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
        color: #71717a;
  }
  .row {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        gap: 16px;
  }
  .image-771-icon {
        flex: 1;
        position: relative;
        border-radius: 18.76px;
        max-width: 100%;
        overflow: hidden;
        height: 397.7px;
        object-fit: cover;
  }
  .image {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
  }
  .div {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 28px;
        font-weight: 800;
  }
  .crypto-screener-application {
        align-self: stretch;
        position: relative;
        font-size: 20px;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 800;
  }
  .parent {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 28px;
  }
  .row2 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
  }
  .when-an-unknown {
        margin: 0;
  }
  .row1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 28px;
        font-size: 24px;
  }
  .my-project {
        align-self: stretch;
        background-color: #000;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px 16px;
        color: #fff;
  }
  .frame-child {
        width: 96px;
        position: relative;
        border-radius: 50%;
        height: 96px;
        object-fit: cover;
        z-index: 0;
  }
  .frame-item {
        width: 30px;
        position: relative;
        border-radius: 50%;
        background-color: #000;
        height: 30px;
        z-index: 0;
  }
  .vector-icon {
        width: 43%;
        position: absolute;
        margin: 0 !important;
        height: 31%;
        top: 33.33%;
        right: 27%;
        bottom: 35.67%;
        left: 30%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        z-index: 1;
  }
  .ellipse-group {
        margin: 0 !important;
        position: absolute;
        top: 66px;
        left: 66px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1;
  }
  .ellipse-parent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        gap: 10px;
  }
  .i-recently-had {
        align-self: stretch;
        position: relative;
        letter-spacing: 0.02em;
        line-height: 20px;
  }
  .testimonial-child {
        width: 120px;
        position: relative;
        background-color: #000;
        height: 2px;
  }
  .evren-shah1 {
        align-self: stretch;
        position: relative;
        font-size: 20px;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
        font-weight: 600;
  }
  .designer {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 20px;
        font-weight: 600;
        color: #71717a;
  }
  .testimonial1 {
        align-self: stretch;
        box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        gap: 24px;
  }
  .ellipse-div {
        width: 30px;
        position: relative;
        border-radius: 50%;
        background-color: #fff;
        height: 30px;
        z-index: 0;
  }
  .testimonial-item {
        width: 120px;
        position: relative;
        background-color: #fff;
        height: 2px;
  }
  .designer1 {
        align-self: stretch;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 20px;
        font-weight: 600;
  }
  .testimonial2 {
        align-self: stretch;
        box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
        border-radius: 20px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        gap: 24px;
        color: #fff;
  }
  .row6 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 40px;
        text-align: center;
        font-size: 16px;
        color: #404040;
  }
  .container6 {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
  }
  .your-name {
        flex: 1;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 20px;
  }
  .your-name-wrapper {
        align-self: stretch;
        border-radius: 4px;
        border: 1.4px solid #000;
        box-sizing: border-box;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 16px 24px;
  }
  .component-1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
  }
  .how-can-i {
        align-self: stretch;
        flex: 1;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 20px;
  }
  .how-can-i-help-wrapper {
        align-self: stretch;
        border-radius: 4px;
        border: 1.4px solid #000;
        box-sizing: border-box;
        height: 140px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 16px 24px;
  }
  .resume {
        position: relative;
        letter-spacing: 0.02em;
        line-height: 20px;
        font-weight: 600;
  }
  .button4 {
        border-radius: 4px;
        background-color: #000;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 12px 16px;
        box-sizing: border-box;
        color: #fff;
  }
  .button-group {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 4px 0px;
        gap: 24px;
  }
  .row7 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 20px 0px;
        gap: 20px;
  }
  .something-special-wrapper {
        align-self: stretch;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
  }
  .frame-parent1 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
  }
  .youremailgmailcom-parent {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-size: 20px;
  }
  .row8 {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
        gap: 32px;
        font-size: 28px;
        color: #000;
  }
  .my-testimonial2 {
        align-self: stretch;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 40px 16px;
        font-size: 16px;
        color: #71717a;
  }
  .logo-1-icon1 {
        width: 27.9px;
        position: relative;
        height: 28px;
        overflow: hidden;
        flex-shrink: 0;
  }
  .personal1 {
        flex: 1;
        position: relative;
        letter-spacing: -0.02em;
        line-height: 24px;
        text-transform: capitalize;
  }
  .logo1 {
        width: 139.9px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
  }
  .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
  }
  .personal-parent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        text-align: right;
        font-size: 12px;
  }
  .container8 {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  }
  .footer {
        align-self: stretch;
        background-color: #000;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px 16px;
        font-size: 20px;
        color: #fff;
  }
  .boyresponsive {
        width: 100%;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        font-size: 28px;
        color: #000;
        font-family: Sora;
  }
  
  

}*/

    

    







